@model Co_Partnership.Services.Cart

@{
    ViewData["Title"] = "Cart";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My cart</h2>

<div style="height:50px" id="validation">
    <span id="error" style="color:red"></span>
</div>
<form id="cart"></form>

@section Scripts {<script type="text/javascript" src="~/js/Cart.js"></script>}

