@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="footer">
    <div class="container">
        <div class="row py-4 ">
            <div class="col-sm-4 text-sm-center">
                <a href="">Terms & Conditions</a>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="mx-md-auto">
                    <h4>Contact</h4>
                    <div>
                        <ul class="list-unstyled">
                            <li>
                                <span class="fa fa-phone mr-2" aria-hidden="true"></span>
                                <a href="tel:+302103330740">2810 330740</a>
                            </li>
                            <li class="text-nowrap">
                                <span class="fa fa-send mr-1"></span>
                                <a href="mailto:info@copartnership.gr">info[at]copartership.gr</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4  text-sm-center">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Co-Partnership</a>
            </div>
        </div>
        <div class="footer-btm">&copy; 2018 - Co-Partnership</div>
    </div>

</footer>