
@{
    ViewData["Title"] = "_LayoutContained";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container  body-content">
    <div class="row">
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)