@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ string[] choices = { "Sales","Transactions", "Requests", "Products","Clients", "Members", "MessageBoard" }; }   @*na proste8ei kai to members, otan ginei*@
<nav class=" d-block " id="sidebar">
    <div class="sidebar-header">
        <h3 class="text-center text-md-left">Administrator Panel</h3>
    </div>

    <ul class="list-unstyled components">
        @foreach (var menuChoice in choices)
    {
        <li>
            
            <a class="menu @(menuChoice == ViewBag.CurrentChoice ? "active" : "")" asp-controller="Admin" asp-action="@menuChoice">@menuChoice</a>

        </li>
}

        <li>        
            <a class="menu" asp-controller="Home" style="background-color: #17a2b8; color: black;" asp-action="Index">Back to main page</a>

        </li>
    
    </ul>
</nav>
