
@{
    ViewData["Title"] = "Finance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>


    <h2>Finance</h2>

    <div class="hold">
        <div id="founds"></div>

        <div id="newOrders"></div>

        <div id="newOffers"></div>

        <div id="finannce-order"></div>
    </div>


</div>