
@{
    ViewData["Title"] = "Message Board";
}

<div id="admin-body" class="messageBox components">
    @*<div class="UserName d-inline-block float-left">
        <h3>Mark</h3>
    </div>*@
    <ul class="list-unstyled messageSide d-block py-3 mb-0" >

        <li class="btn-wrap">
            <a id="Compose" class="btn-compose">Compose</a>
        </li>
        <li class="actions">
            <ul>
                <li id="actionInbox">
                    Inbox
                </li>
                <li id="actionSent">
                    Sent
                </li>
            </ul>

        </li>

    </ul>

    <div class="messageBody">

    </div>


</div>


@section Scripts {<script type="text/javascript" src="~/js/Message.js"></script>}