@model IEnumerable<Co_Partnership.Models.Database.Transaction> 
@{
    ViewData["Title"] = "Products";
}
<div id="admin-body">
    <h2>Products</h2>
    <a class="btn btn-info float-right" asp-controller="Admin" asp-action="CreateProduct" role="button"><span class="fa fa-plus mr-1"></span>Add new</a>
    
    <div id="Product-list"></div>

</div>


@section Scripts {<script type="text/javascript" src="~/js/ProductsAdmin.js"></script>}
