@model IEnumerable<Co_Partnership.Models.Database.Transaction> 
@{
    ViewData["Title"] = "Products";
}
<div id="admin-body">
    <h2>Products</h2>
    <a class="btn btn-info float-right" asp-controller="Admin" asp-action="CreateProduct" role="button"><span class="fa fa-plus mr-1"></span>Add new</a>
    <a id="deleteBtn" class="btn btn-info float-left"><span class="fa fa-minus mr-1"></span>Delete</a>
    <div id="Product-list"></div>

    <div id="Sales-list">
        <form asp-action="GetSales" method="post" id="Sales">
            @*<input type="hidden" asp-for="" />*@

            <div class="form-group">
                <label class="control-label">Month</label>
                <select name="carlist" class="form-control" form="carform">
                    <option value="volvo">January</option>
                    <option value="saab">February</option>
                    <option value="opel">March</option>
                    <option value="audi">April</option>
                    <option value="audi">May</option>
                    <option value="audi">June</option>
                    <option value="audi">July</option>
                    <option value="audi">August</option>
                    <option value="audi">September</option>
                    <option value="audi">November</option>
                    <option value="audi">Oktober</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>

        <table class="table w-100">
            <thead>
                <tr>
                    <th class="w-50">Total sales</th>
                    <th class="w-50">Period</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12.3</td>
                    <td>23-2-2018</td>
                </tr>
     
            </tbody>
        </table>
    </div>




</div>


@section Scripts {<script type="text/javascript" src="~/js/ProductsAdmin.js"></script>}
