
@{
    ViewData["Title"] = "Sales";

}

<div id="admin-body">
    <h2>Sales Overview</h2>
    
    <div class="salesoverview">
        <div id="foundsummary">
            
        </div>
        <div id="newordersummary">
        </div>
        <div id="newoffersummary">
        </div>
    </div>
    <form action="">
        Start date:
        <input type="date" id="sday" name="sday">
        End date:
        <input type="date" id="eday" name="eday">
        Transaction type:
        <select id="types">
            <option value="1">Sales</option>
            <option value="2">Offers</option>
            <option value="3">Dividents</option>
            <option value="10">All</option>
        </select>
        <input type="submit" id="submitable">
    </form>
    <div id="salestable"></div>


    <div class="alertviewforaward"></div>
    <div class="dividoverview">
        <div id="dividsummary">

        </div>
        <div>

            <h4>Award dividents</h4>
            <button id="awarddividend" type="button" class="btn btn-warning btn-lg">Award</button>
            
        </div>
    </div>



</div>


@section Scripts {
    <script type="text/javascript" src="~/js/Sales.js"></script>}