body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


.messageBox {
    margin-left: 22%;
    width: 78%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.messageSide {
    width: 30%;
    /*border: 1px solid black;*/
    margin-left: 5%;
    background-color: rgb(218, 216, 216);
}

.messageBody {
    width: 70%;
    /*border: 1px solid black;*/
    margin-right: 5%;
}

.UserName {
    height: 10%;
    background-color: rgb(118, 133, 138);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .UserName span {
        font-size: 2em;
    }

.btn-wrap {
    height: 8%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-compose {
    background: #9abac4;
    padding: 12px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

    .btn-compose:hover {
        background-color: #a8cbd6;
        
    }

.actions ul {
    list-style-type: none;
    display: block;
}

    .actions ul li {
        width: 100%;
        height: 8%;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .actions ul li:hover {
            background-color: #999;
        }

.EmailHead {
    height: 10%;
    background-color: rgb(184, 180, 180);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyHead {
    height: 5%;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.btn-small {
    background: #e5e9eb;
    margin-right: 2em;
    padding: 12px;
    text-align: center;
    width: 15%;
    border-radius: 10px;
}

    .btn-small:hover {
        background: #f2f3f4;
    }

.mailList {
    padding: 2em;
}

#messList {
    list-style-type: none;
    margin: 0.5em;
    overflow-y: auto;
}

    #messList li {
        padding: 0.5em;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.singleMail {
    display: block;
    padding: 2em;
}

.thick {
    font-weight:700;
}


.ordered {
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}