body {
    overflow-x: hidden;
    background-color: floralwhite;
}

.list-dim {
    max-width: 960px;
}

.form-control:focus {
    border-color: #504011;
    box-shadow: 0 0 0 0.54rem #796f4f;
}

/*btn override*/
.btn-outline-primary {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

    .btn-outline-primary:hover {
        color: #23282d;
        background-color: #fffaf0;
        border-color: #504c40;
    }

.btn-secondary {
    background-color: #dee2e6;
}
/*btn override end*/
.nav-access {
    color: #868e96;
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e9ecef;
}
/*navbar background color*/
.bg-dark {
    background-color: rgb(33, 37, 41) !important;
}

/*.navbar-dark .navbar-brand {
    color: #ecdcab;
}*/
.breadcrumb {
    position: relative;
    left: -50%;
    top:-55px;
    font-size: 0.86rem;
    background-color: transparent;
    color: #6c685d;
    margin-bottom:0;
    font-weight:500;
}

.breadcrumb-item.active {
    color: #6c685d;
    /*font-weight: 500;*/
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #6c685d;
    content: ">";
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

a {
    color: #ddd;
    text-decoration: none;
}

    a:hover {
        color: rgba(134,142,150,0.6);
        text-decoration: none;
    }

    .footer a:hover{
        color: rgba(54, 55, 57, 0.6);
    }
    /*a:visited {
        color: black;
        text-decoration: none;
    }*/
a:focus {
    color: #ffffff;
    text-decoration: none;
}

.body-content a {
    color: inherit;
}



.fancy-underline:after {
    content: '';
    background-color: #487370;
    height: 2px;
    width: 0;
    display: block;
    margin: 2px 0 8px;
    transition: width .3s ease-in-out 0s;
}

.fancy-underline:hover:after {   
    width: 100%;
    display: block;
}

@media (max-width: 991px) {
    .list-dim {
        max-width: 512px;
    }
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 50px 15px;
    min-height: 61.49vh
}


@media (min-width: 992px) {

    /*navbar*/
    .navbar {
        width: 96%;
        position: absolute;
        z-index: 1;
        left: 2%;
    }
}

@media (min-width: 768px) {
    /*navbar-padding-bottom-0*/
    .navbar {
        padding-bottom: 0;
    }
    /*dropdown*/
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        top: 95.72%;
        border-radius: 0;
        border: 0;
        box-shadow: 0 6px 20px rgba(0,0,0,.875), 0 -3px 0 #ccc612;
        padding: 0;
        min-width: initial;
        z-index: 1000;
    }

    .dropdown-menu .depth-1 + .depth-1 {
        border-top: 1px solid #dfe2e5;
    }

    .dropdown-item:hover {
        color: black;
    }

    /*card*/
    .card {
        width: 12rem;
        margin: 1rem auto;
    }
}

/*side*/
.side {
    position: fixed;
    left: 2%;
    top: 21%; /*31.9%;*/
}

#alternative-link {
    background-color: #ffce00;
}


    /*
a.list-group-item {
    color: #675e46;
}*/

/*.list-group-item:hover {
    
    color: #4c3232;
}*/
.list-group-item {
    background-color: #fefff5;
}

.list-group-item.active {
    border-color: rgb(211, 151, 0);
    background-color: #d39700;
    text-align: right;
    /*font-weight: 500;*/
}

.fa-arrow-right {
    display: inline;
    visibility: hidden;
}

.list-group-item.active > .fa-arrow-right {
    visibility:visible;
    margin-right: 0.1rem;
    
}

.list-group-item:focus {
    background-color: rgb(211, 151, 0);
    color: #f8f9fa;
    outline-color: #dee2e6;
    /*font-weight: 500;*/
}

#alternative-link.list-group-item.active {
    background-color: #d39700; /*rgb(211,151,0);*/
    border-color:#d39700;
}

.btn-secondary {
    border-color: #504a36;
}

.btn-secondary:hover {
 
    background-color: #c5ba99;
}
.body-content .btn-primary {
    background-color: #3e3826;
    border-color: #1b1e21;
    color: white;
}

/*.card btn-group {
    position: absolute;
    bottom: 2.5rem
}*/

/*card*/
.card {
    /*border: none;*/
    border-color: #eee9de;
}

.card-title {
    margin-bottom: 0;
}

.body-content .btn-primary:active {
    background-color: rgb(191, 176, 129) !important;
    border-color: #29261c !important;
}

.body-content .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #352c11 !important;
}

.dropdown-item:hover {
    background-color: #e2d6b0;
}




@media screen and (min-width: 576px) {
   
}

@media screen and (min-width: 768px) {

  
}

@media screen and (max-width: 992px) {
   .side{
       left:0;
   }
}

@media screen and (min-width: 1200px) {
    
}
/*end nav*/
nav ul li:hover > a {
    display: block;
}



.dropdown-toggle::after {
    visibility: hidden;
    position: absolute;
}

.open > .dropdown-toggle::after {
    visibility: visible;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 5px;
    border-color: transparent transparent #d2cc30;
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -6px;
}



/* Carousel p,image */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    width: 100%;
}

/*carousel item*/
.carousel-item {
    height: 100vh;
    min-height: 150px;
    background: no-repeat center scroll;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

    /*overlay*/
    .carousel-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.2);
    }
/*carousel-caption position*/
.carousel-caption {
    bottom: 40%;
}
/*carousel -end*/

/*card-img-top*/
.card-img-top {
    width: 100%; /*220px;*/
    height: 100%;
    margin: 0 auto;
    border-top-left-radius: 0; /*overrride bootstrap*/
    border-top-right-radius: 0; /*same*/
    background-position: center;
    background-size: cover;
    background-color: black;
    transition: all .35s;
}

.wrapper {
    width: 192px;
    height: 140px;
}

    .wrapper:hover .card-img-top,
    .wrapper:focus .card-img-top {
        transform: scale(1.1);
    }



/*card*/
.card {
    overflow: auto;
    overflow-x: hidden; /*kruvvw thn orizontia bara pou emfanizetai sto hover opou kanei to transition  h eikona*/
    border-radius: 0.175rem;
}

.card-body {
    padding: 2.5rem;
    padding-top: 1.25rem;
    position: relative; /*semihack*/
    z-index: 1000; /*auto kai to apo katw einai gia na krupsoume to meros thw eikonas pou ekteinetai kata to transition*/
    background: white;
}


.custom-position {
    position: absolute;
    top: 0.6rem;
    left: 0.75rem;
}

.custom-position-right {
    position: absolute;
    top: 0.6rem;
    right: 0.75rem;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.fa-shopping-cart {
    color: black;
}

/*fa-search*/
.fa-search {
    color: #818182;
}

    .fa-search:hover {
        color: #727b84;
    }

.fa-check-circle-o {
    color: lawngreen;
    font-size: 1.5rem
}

.fa-times-circle-o {
    color: #464a4e;
    font-size: 1.5rem
}

.fa-heart {
    color: #dae0e5;
    font-size:1.4rem;
}



    /*full-heart color: #dae0e5;*/
 .fa-heart.animated:hover {
    color: #696863;
    /*#cfc6ac*/
}
 .fa-heart.animated {
    color: #a7a7a7;
}

 .likebutton .fa-heart{
     font-size:1rem;
 }

/*search-overlay on xs sm*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
/*8elei href gia na piasei sto x*/
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.row>dt{
    text-align:right;
}

.row > dd {
    text-align: left;
}

/*footer*/
.footer {
    background-color: #9e8f60;
}

.footer-btm {
    border-top: 1px solid #342c1c;
    padding-top: 14px;
}
/*end serch overlay*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /*card*/
    .card {
        width: 14rem;
        margin: 1rem auto;
    }

    .wrapper {
        width: 14rem;
    }
    /* Hide captions */
    /*.carousel-caption {
        display: none;
    }*/
}



.red {
    color: #ce2d02
}

.grey {
    color: #c6cdd4
}

