@{
    ViewData["Title"] = "About";
   
}
<div style="position: absolute; left: 50%;">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">About</li>
    </ul>
    </div>

    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>"Agricultural co-partnership was founded in 1966 by a number of Kongolese political refuges, emigrating to Greece in order to avoid the oppression of Mobutu Sese Seko. Over the years the Co-partnership has expanded, and now we are taking our next step forward by launching our first e-shop. </br>Feel free to browse our wares and thank you for visiting us."</p>
