
@{
    ViewData["Title"] = "PersonalView";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}





<div class="pwrapper">
    <div class="container">
        <div class="row">

            <div class="col-10">
                <h2>PersonalView</h2>

                <div>
                    <h2>My Wishlist</h2>
                    <div id="wishes"></div>


                </div>
                <div id="messages">
                    <h2>My Messages</h2>
                    <div class="messageBox">
                        <aside class="messageSide">
                            <div class="UserName">
                                <span>Mark</span>
                            </div>
                            <div class="btn-wrap">
                                <a id="Compose" class="btn-compose">Compose</a>
                            </div>
                            <div class="actions">
                                <ul>
                                    <li id="actionInbox">
                                        Inbox
                                    </li>
                                    <li id="actionSent">
                                        Sent
                                    </li>
                                </ul>

                            </div>

                        </aside>

                        <div class="messageBody">

                        </div>


                    </div>
                </div>


                <div>
                    <h2>My history</h2>
                    <div id="history">
                    </div>
                </div>
            </div>

        </div>
    </div>



    @section Scripts {
        <script type="text/javascript" src="~/js/Personal.js"></script>
        <script type="text/javascript" src="~/js/Message.js"></script>
        <script type="text/javascript" src="~/js/saveCart.js"></script>}

