
@{
    ViewData["Title"] = "PersonalView";
    //Layout = "~/Views/Shared/_HomeLayout.cshtml";
}





<div class="pwrapper">
    <div class="container">
        <div class="row">

            <div class="col-10">
                <h4>My Panel</h4>

                <div>
                    <h5>My Wishlist</h5>
                    <div id="wishes"></div>
                </div>

                <div>
                    <h5>My history</h5>
                    <div id="history">
                    </div>
                </div>
            </div>

        </div>
    </div>



    @section Scripts {
        <script type="text/javascript" src="~/js/Personal.js"></script>
    }

   
